@import (reference)"../../../../../resources/assets/less/frontend/_vars";
@import (reference)"../../../laravel-kit/assets/less/_mixins";

.articles {
    margin-top: 20px;
}

// Default Grid Style Item
.article-item {
    & > a {
        .border-radius(5px);
        overflow: hidden;
        color: @text-color;
        display: block;
        border: 1px solid @border-color;
        margin-bottom: 15px;
        .transition(all 0.5s);
        .article-image {
            max-height: 170px;
            overflow: hidden;
            .hover-img-shine-effect();
        }
        .article-title {
            padding: 10px;
            margin: 0;
            .transition(all 0.5s);
            height: 80px;
            overflow: hidden;
            font-size: 16px;
            color: @text-color;
            font-weight: 600;
        }
        .article-meta{
            font-size: 85%;
            padding: 0 10px;
            text-align: right;
            color: @text-muted;
        }
        .article-summary {
            padding: 0 10px 10px;
            height: 120px;
            overflow: hidden;
        }
        &:hover, :focus {
            text-decoration: none;
            border-color: @color1;
            .article-image {
                img {
                    .scale(1.2);
                }
            }
            .article-title {
                color: @color1;
            }
        }
    }
}

.article-featured, .articles-list {
    // List Style Item
    .article-item {
        border-bottom: 1px dotted @border-color;
        margin: 0 0 15px;
        & > a {
            border: none;
            .border-radius(0);
            .article-image {
                float: left;
                height: auto;
                width: 170px;
                max-height: inherit;
                margin-right: 10px;
                border: 1px solid @border-color;
                .border-radius(3px);
            }
            .article-title {
                padding-top: 0;
                min-height: inherit;
            }
            .article-summary {
                height: inherit;
                padding: 0;
            }
        }

    }
}

.article-featured {
    .article-item {
        a {
            .article-image {
                width: 50%;
            }
            .article-title {
                font-size: 20px;
                padding: 0;
                height: inherit;
                margin-bottom: 15px;
            }
            .article-summary {

            }
        }
    }
}

.article-single {
    .article-title {
        color: @color1;
        border-bottom: 1px dotted @color6;
    }
    .article-meta {
        font-size: 85%;
        color: @color6;
    }
    .article-image {

    }
    .article-content {
        margin-top: 20px;
        p {
            text-align: justify;
            text-indent: 30px;
        }
        img:not(.media-object) {
            max-width: 95%;
            background: #ffffff;
            border: 1px solid @border-color;
            padding: 5px;
            .box-shadow(0 4px 10px @border-color);
            margin: 0 auto;
        }
    }
}

// Latest Articles Widget
// ----------------------------------------------------------------------------------------------------------------
.widget-latest_articles {
    .article {
        a {
            .border-radius(5px);
            overflow: hidden;
            color: @text-color;
            display: block;
            border: 1px solid @border-color;
            margin-bottom: 15px;
            .article-image {
                max-height: 170px;
                overflow: hidden;
                .hover-img-shine-effect();
            }
            .article-meta {
                font-size: 85%;
                padding: 0 10px;
                text-align: right;
                color: @text-muted;
            }
            .article-title {
                padding: 10px;
                margin: 0;
                .transition(all 0.5s);
                min-height: 72px;
                font-size: 16px;
            }
            .article-summary {
                padding: 10px;
                height: 110px;
                overflow: hidden;
            }
            &:hover, :focus {
                text-decoration: none;
                .article-image {
                    img {
                        .scale(1.2);
                    }
                }
                .article-title {
                    color: @color1;
                }
            }
        }
    }
}

@media (max-width: @screen-sm-max) {
    .widget-latest_articles {
        .article {
            a {
                .article-image {
                    max-height: inherit;
                }
                .article-title {
                    min-height: inherit;
                }
                .article-summary {
                    height: inherit;
                }
            }
        }
    }
}